app/cache/*
app/logs/*
app/phpunit.xml
app/config/parameters.ini
app/config/deploy.rb
src/Cordova/MemorizeScriptureBundle/Resources/public/images/*
web/bundles/memorizescripture/images/*
.idea/*
.idea/.name
Capfile
.rsync_cache/*
