web/bundles/
app/bootstrap*
app/cache/*
app/logs/*
app/phpunit.xml
app/config/parameters.ini
app/config/parameters.ini-dist
app/config/deploy.rb
src/Cordova/MemorizeScriptureBundle/Resources/public/images/*
web/bundles/memorizescripture/images/*
nbproject
nbproject/*
results/*
.idea/*
.idea/.name
Capfile
web/images/*
.rsync_cache/*
.rsync_cache/
.rsync_cache
build/
vendor/
