fos_user_security:
    resource: @FOSUserBundle/Resources/config/routing/security.xml

fos_user_profile:
    resource: "@FOSUserBundle/Resources/config/routing/profile.xml"
    prefix: /profile

fos_user_register:
    resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
    prefix: /register

fos_user_resetting:
    resource: "@FOSUserBundle/Resources/config/routing/resetting.xml"
    prefix: /resetting

fos_user_change_password:
    resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
    prefix: /change-password

MemorizeScripture_tracker:
    pattern:  /tracker
    defaults: { _controller: MemorizeScriptureBundle:Tracker:index }

MemorizeScripture_addRecitation:
    pattern:  /tracker/get/{id}.{_format}
    defaults: { _controller: MemorizeScriptureBundle:Tracker:addRecitation }

MemorizeScripture_createSession:
    pattern:  /tracker/createsession
    defaults: { _controller: MemorizeScriptureBundle:Tracker:createSession }

MemorizeScripture_makeSessionActive:
    pattern:  /tracker/makesessionactive/{id}
    defaults: { _controller: MemorizeScriptureBundle:Tracker:makeSessionActive }

homepage:
    pattern:  /
    defaults: { _controller: MemorizeScriptureBundle:Blog:index }

show_page:
    pattern:  /{page}
    defaults: { _controller: MemorizeScriptureBundle:Pages:show }

#homepage:
#    pattern:  /
#    defaults: { _controller: MemorizeScripture:Tracker:welcome }
