fos_user_security:
    resource: @FOSUserBundle/Resources/config/routing/security.xml

fos_user_user:
    resource: @FOSUserBundle/Resources/config/routing/user.xml
    prefix: /user

#admin:
#        resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
#        prefix: /admin

#_sonata_admin:
#        resource: .
#        type: sonata_admin
#        prefix: /admin

MemorizeScripture_tracker:
    pattern:  /tracker
    defaults: { _controller: MemorizeScriptureBundle:Tracker:index }

MemorizeScripture_addRecitation:
    pattern:  /tracker/get/{id}.{_format}
    defaults: { _controller: MemorizeScriptureBundle:Tracker:addRecitation }

MemorizeScripture_createSession:
    pattern:  /tracker/createsession
    defaults: { _controller: MemorizeScriptureBundle:Tracker:createSession }
  
MemorizeScripture_makeSessionActive:
    pattern:  /tracker/makesessionactive/{id}
    defaults: { _controller: MemorizeScriptureBundle:Tracker:makeSessionActive }
    
show_page:
    pattern:  /{page}
    defaults: { _controller: MemorizeScriptureBundle:Pages:show }

homepage:
    pattern:  /
    defaults: { _controller: MemorizeScriptureBundle:Blog:index }

#homepage:
#    pattern:  /
#    defaults: { _controller: MemorizeScripture:Tracker:welcome }
