<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Memorize Scripture{% endblock %}</title>
        <link rel="shortcut icon" href="/web/favicon.ico" />
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/memorizescripture/css/reset.css') }}" media="screen" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <!--<script src="{{ asset('bundles/memorizescripture/js/ajax.js')}}"></script>-->
        {% javascripts output='js/*' 'bundles/memorizescripture/js/ajax.js' filter='?yui_js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
