{% extends "MemorizeScripture::layout.html.twig" %}

{% block title %}
    Memorize Scripture | Home
{% endblock %}
 
{% block content %}
    <h2>Tracker</h2>
    {#% debug users %#}
    {% for user in users %}
	    {% include 'MemorizeScripture:Tracker:user.html.twig' with { 'user': user } %}
	{% else %}
	    There are no users loaded 
    {% endfor %}
{% endblock %}
