imports:
    - { resource: parameters.ini }
    - { resource: security.yml }
    - { resource: @MemorizeScriptureBundle/Resources/config/menu.xml }

knplabs_menu:
    templating: true  # this is to enable in-template rendering
    twig: true  # this is to use the twig extension

framework:
    translator: { fallback: en }
    charset:       UTF-8
    csrf_protection:
        enabled: true
    form:
      enabled: true
    secret: %csrf_secret%

    router:        { resource: "%kernel.root_dir%/config/routing.yml" }
    validation:    { enabled: true, enable_annotations: true }
    templating:    { engines: ['twig'] } #assets_version: SomeVersionScheme
    session:
        default_locale: %locale%
        lifetime:       3600
        auto_start:     true
        name:           memorizescripture

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%
    extensions:       [twig.extension.debug]
    form:
        resources: ['MemorizeScriptureBundle:Form:fields.html.twig']

# Assetic Configuration
assetic:
    debug:         %kernel.debug%
    use_controller: %kernel.debug%
    java: %java_path%
    filters:
        cssrewrite: ~
        yui_css:
             jar: %yui_compressor_jar%
          # Or use the location of your downloaded yuicompressor-2.4.6.jar
          # jar: %kernel.root_dir%/java/yuicompressor-2.4.6.jar
        yui_js:
             jar: %yui_compressor_jar%             

# Doctrine Configuration
doctrine:
   dbal:
       default_connection:       default
       connections:
           default:
                driver:   %database_driver%
                host:     %database_host%
                dbname:   %database_name%
                user:     %database_user%
                password: %database_password%

   orm:
       auto_generate_proxy_classes: %kernel.debug%
       auto_mapping: true
       default_entity_manager:   default
       entity_managers:
           default:
               connection: default
               mappings:
                   FOSUserBundle: ~
                   MemorizeScriptureBundle: ~


## Swiftmailer Configuration
swiftmailer:
    transport:  %mailer_transport%
    username:   %mailer_user%
    password:   %mailer_password%

fos_user:
    db_driver: orm
    firewall_name: main
    use_listener: true
    user_class: Cordova\MemorizeScriptureBundle\Entity\User


    encoder:
        algorithm: sha512
        encode_as_base64: true
        iterations: 5

