# Internal routing configuration to handle ESI
#_internal:
#   resource: "@FrameworkBundle/Resources/config/routing/internal.xml"
#   prefix:   /_internal

MemorizeScripture:
    resource: "@MemorizeScriptureBundle/Resources/config/routing.yml"
Cordova:
    resource: "@CordovaFilmothequeBundle/Resources/config/routing.yml"
    prefix: /cordova

admin:
        resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
        prefix: /admin

_sonata_admin:
        resource: .
        type: sonata_admin
        prefix: /admin