body {
    margin-top: 20px;
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

#container {
    width: 800px;
    margin: 0px auto;
}

header {
    border-bottom: solid 1px #000000;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100%;
}

header h1 {
    float: left;
    font-size: 30px;
    font-weight: bold;
}

header nav {
    float: right;
    padding-top: 18px;
}

header nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

header nav ul li {
    float: left;
    margin-left: 20px;
}

/*#content {
    padding: 20px 0px;
}*/

footer {
    border-top: solid 1px #000000;
    padding-top: 10px;
    width: 100%;
}

footer p {
    font-size: 10px;
}

footer p.symfony2 {
    float: left;
}

footer p.copy {
    float: right;
}

#content {
    padding: 20px 0px;
    float: left;
    width: 580px;
}
 
#sidebar {
    float: left;
    margin-left: 20px;
    width: 200px;
    padding: 20px 0px;
}
 
div.post {
    padding-bottom: 20px;
}
 
h2.post_title {
    font-size: 20px;
    font-weight: bold;
}
 
p.post_info {
    margin-top: 5px;
}
 
p.post_body {
    margin-top: 5px;
}
 
ul.post_tags {
    margin-top: 5px;
}
