{% extends "MemorizeScripture::layout.html.twig" %}
 
{% block title %}
    Memorize Scripture | Home
{% endblock %}
 
{% block content %}
    <h2>Welcome! Ready to memorize Scripture? Let's go!</h2>
    {% for post in posts %}
	{% include 'MemorizeScripture:Blog:post.html.twig' with { 'post': post } %}
    {% endfor %}
{% endblock %}
