{% extends "MemorizeScripture::layout.html.twig" %}
 
{% block title %}
    Memorize Scripture | About
{% endblock %}
 
{% block content %}
    <h2>About us</h2>
    <div>Simply developing a web app for memorizing scripture.</div>
{% endblock %}
